#container{
    display: grid;
}

.column{
    display: grid;
    color: blue;
    outline: 1px solid blue;
    height: 32px;
    width: 32px;
    padding: 1px;
}
.cell {
    color: blue;
    outline: 1px solid blue;
    height: 32px;
    width: 32px; 
}
